---
import { Image } from "astro:assets";
import me from "../assets/me.webp";

import Main from "../layouts/Main.astro";
import Container from "../components/Container.astro";
import ExternalLink from "../components/ExternalLink.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
---

<Main>
  <Container>
    <Image
      class="aspect-square w-full rounded-lg object-cover object-[60%_40%]"
      src={me}
      alt="A portrait of me."
      loading="eager"
      fetchpriority="high"
      layout="constrained"
    />
    <h1 class="pt-12 font-sans text-2xl font-bold text-orange-300">
      Hi! I'm Leo.
    </h1>
    <p class="pt-8 text-lg text-gray-300">
      I'm a guy that likes a lot of things! I am deeply passionate about all
      kinds of music. If you've ever been to any Hardcore Punk show in São Paulo
      (such as <ExternalLink to="https://www.youtube.com/watch?v=O6Rsp5b8vYo"
        >Dead Fish</ExternalLink
      >!) there's a huge chance we've already seen each other!
    </p>
    <p class="pt-8 text-lg text-gray-300">
      Besides that, I love playing guitar. Listening to music coming from my own
      hands is really special and makes me feel all ~warm and fuzzy~.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      Overall, I'm energetic, outgoing and love to chat about anything! It helps
      that I am surrounded by wonderful people, so hanging out with my friends
      and loved ones is naturally a pleasure in itself ❤️.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      Professionaly speaking, I'm currently a Tech Lead at <ExternalLink
        to="https://www.pipefy.com/">Pipefy</ExternalLink
      >, where I code in multiple stacks (mainly React, Ruby on Rails and
      Python) and lead a (very!) skilled squad.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      There isn't really a specific purpose for this website. I just want it to
      be my little personal space on the web. You might visit and see that the
      layout has changed completely. I might do a few blog posts here and there,
      but I don't know yet.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      I'm currently building a little minesweeper game, which you can take a
      quick peek on in the <ExternalLink
        to="https://github.com/Leocano/website/tree/minesweeper"
        >Github Repo</ExternalLink
      >.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      Here's my <ExternalLink to="https://www.linkedin.com/in/leonardo-cano/"
        >Linkedin</ExternalLink
      >, if you manage find that cursed place to be any useful.
    </p>
    <div class="flex gap-2 pt-12">
      <div class="w-8">
        <ExternalLink to="https://github.com/Leocano"
          ><GithubIcon /></ExternalLink
        >
      </div>
      <div class="w-8">
        <ExternalLink to="https://www.linkedin.com/in/leonardo-cano/"
          ><LinkedinIcon /></ExternalLink
        >
      </div>
    </div>
  </Container>
</Main>
