@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Apfel";
  font-display: swap;
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
}

@theme {
  --font-display: "Apfel", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}
